In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from loading import load_data, load_test
from preprocessing import preprocess

In [2]:
#variable name convention: data = train + validation
data_x_orig, data_y_orig = load_data() # loads from ".\data" by default
test_x_orig = load_test()

In [3]:
data_x_orig.loc[:,['OMR','OTR']]

               OMR       OTR
Index
1        12.500000  2.272727
2        21.571429  1.696629
3       118.250000  1.482759
4        29.000000  1.705882
5              NaN  1.517730
...            ...       ...
105778         NaN  1.150000
105779         NaN  1.352941
105780         NaN  1.146667
105781         NaN  1.179191
105782         NaN  1.178571

[105782 rows x 2 columns]

In [4]:
data_x = preprocess(data_x_orig)

In [23]:
data_x[['IOMR', 'IOCR', 'IOTR']].max()

IOMR    0.998044
IOCR    0.500000
IOTR    0.957447
dtype: float64

In [18]:

data_x.loc[min_invert]

Share                              Isin_51
Day                                Date_26
Trader                          Trader_424
min_time_two_events                    0.0
mean_time_two_events          19009.971992
10_p_time_two_events                   0.0
med_time_two_events              16768.102
25_p_time_two_events              52.07928
75_p_time_two_events             37487.293
90_p_time_two_events              37487.54
max_time_two_events               37487.54
min_lifetime_cancel               14657.65
mean_lifetime_cancel          15712.875977
10_p_lifetime_cancel              14657.65
med_lifetime_cancel               14657.65
25_p_lifetime_cancel              14657.65
75_p_lifetime_cancel             16768.102
90_p_lifetime_cancel             16768.102
max_lifetime_cancel              16768.102
NbTradeVenueMic                          2
MaxNbTradesBySecond                      1
MeanNbTradesBySecond                   1.0
min_dt_TV1                      537.964276
mean_dt_TV1                    2415.955502
med_dt_TV1                      1128.34077
min_dt_TV1_TV2                  5581.56146
mean_dt_TV1_TV2                 5581.56146
med_dt_TV1_TV2                  5581.56146
min_dt_TV1_TV3                  5581.56146
mean_dt_TV1_TV3                 5581.56146
med_dt_TV1_TV3                  5581.56146
min_dt_TV1_TV4                  5581.56146
mean_dt_TV1_TV4                 5581.56146
med_dt_TV1_TV4                  5581.56146
NbSecondWithAtLeatOneTrade               4
IOMR                               0.03125
IOCR                                0.0625
IOTR                               0.09375
Name: 88185, dtype: object

In [16]:
data_x = data_x_orig.copy()
ratio_cols = ['OMR', 'OCR', 'OTR']
inverted_ratio_cols = ['I' + s for s in ratio_cols]

data_x.drop(ratio_cols, axis = "columns", inplace=True)
data_x.loc[:, inverted_ratio_cols] = 1/data_x_orig.loc[:, ratio_cols]
data_x.loc[:, inverted_ratio_cols].fillna(0, inplace=True)

In [20]:

data_x.loc[:, inverted_ratio_cols] = 1/data_x_orig.loc[:, ratio_cols]

In [24]:

data_x[inverted_ratio_cols]

            IOMR      IOCR      IOTR
Index
1       0.080000  0.120000  0.440000
2       0.046358  0.039735  0.589404
3       0.008457  0.021142  0.674419
4       0.034483  0.068966  0.586207
5            NaN  0.037383  0.658879
...          ...       ...       ...
105778       NaN  0.043478  0.869565
105779       NaN  0.043478  0.739130
105780       NaN  0.011628  0.872093
105781       NaN  0.004902  0.848039
105782       NaN  0.015152  0.848485

[105782 rows x 3 columns]

In [ ]:
data_x.loc[:, ['OMR','OTR']].fillna(0)

In [ ]:
s = data_x.isna().sum()/data_x.count()
s[data_x.isna().any()].sort_values(ascending=False)

In [ ]:
from sklearn.model_selection import GroupKFold

X = [0.1, 0.2, 2.2, 2.4, 2.3, 4.55, 5.8, 8.8, 9, 10]
y = ["a", "b", "b", "b", "c", "c", "c", "d", "d", "d"]
groups = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]

gkf = GroupKFold(n_splits=3)
for train, test in gkf.split(X, y, groups=groups):
    print("%s %s" % (train, test))