In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from loading import load_data, load_test

In [21]:
#variable name convention: data = train + validation
data_x, data_y = load_data() # loads from ".\data" by default
test_x = load_test()

In [24]:
data_x.loc[:,['OMR','OTR']]

               OMR       OTR
Index
1        12.500000  2.272727
2        21.571429  1.696629
3       118.250000  1.482759
4        29.000000  1.705882
5              NaN  1.517730
...            ...       ...
105778         NaN  1.150000
105779         NaN  1.352941
105780         NaN  1.146667
105781         NaN  1.179191
105782         NaN  1.178571

[105782 rows x 2 columns]

In [29]:
data_x.copy()

,Share,Day,Trader,OTR,OCR,OMR,min_time_two_events,mean_time_two_events,10_p_time_two_events,med_time_two_events,...,min_dt_TV1_TV2,mean_dt_TV1_TV2,med_dt_TV1_TV2,min_dt_TV1_TV3,mean_dt_TV1_TV3,med_dt_TV1_TV3,min_dt_TV1_TV4,mean_dt_TV1_TV4,med_dt_TV1_TV4,NbSecondWithAtLeatOneTrade
Index,,,,,,,,,,,,,,,,,,,,,
1,Isin_8,Date_24,Trader_10,2.272727,8.333333,12.500000,0.0,5117.830300,0.000000,419.688500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,Isin_87,Date_29,Trader_10,1.696629,25.166667,21.571429,0.0,1846.968401,0.000074,0.003374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,Isin_87,Date_23,Trader_10,1.482759,47.300000,118.250000,0.0,686.300630,0.000071,0.000599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63
4,Isin_12,Date_11,Trader_10,1.705882,14.500000,29.000000,0.0,2174.335265,0.000000,6.152666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
5,Isin_87,Date_9,Trader_10,1.517730,26.750000,NaN,0.0,944.008551,0.000071,0.001364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,Isin_84,Date_27,Trader_60,1.150000,23.000000,NaN,0.0,736.500080,0.000000,0.000188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
105779,Isin_102,Date_18,Trader_60,1.352941,23.000000,NaN,0.0,63.672695,0.000000,0.000963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
105780,Isin_12,Date_13,Trader_60,1.146667,86.000000,NaN,0.0,708.440816,0.000000,0.000578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
105781,Isin_27,Date_30,Trader_60,1.179191,204.000000,NaN,0.0,384.893976,0.000000,0.000536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
105782,Isin_47,Date_12,Trader_60,1.178571,66.000000,NaN,0.0,122.636320,0.000000,0.000689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [28]:
data_x.loc[:, ['OMR','OTR']].fillna(0)

               OMR       OTR
Index
1        12.500000  2.272727
2        21.571429  1.696629
3       118.250000  1.482759
4        29.000000  1.705882
5         0.000000  1.517730
...            ...       ...
105778    0.000000  1.150000
105779    0.000000  1.352941
105780    0.000000  1.146667
105781    0.000000  1.179191
105782    0.000000  1.178571

[105782 rows x 2 columns]

In [7]:
s = data_x.isna().sum()/data_x.count()
s[data_x.isna().any()].sort_values(ascending=False)

OMR                0.818498
med_dt_TV1_TV3     0.313622
mean_dt_TV1_TV3    0.313622
min_dt_TV1_TV3     0.313622
med_dt_TV1_TV2     0.312334
mean_dt_TV1_TV2    0.312334
min_dt_TV1_TV2     0.312334
med_dt_TV1_TV4     0.311878
mean_dt_TV1_TV4    0.311878
min_dt_TV1_TV4     0.311878
med_dt_TV1         0.041705
mean_dt_TV1        0.041705
min_dt_TV1         0.041705
OTR                0.016167
dtype: float64

In [ ]:
from sklearn.model_selection import GroupKFold

X = [0.1, 0.2, 2.2, 2.4, 2.3, 4.55, 5.8, 8.8, 9, 10]
y = ["a", "b", "b", "b", "c", "c", "c", "d", "d", "d"]
groups = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]

gkf = GroupKFold(n_splits=3)
for train, test in gkf.split(X, y, groups=groups):
    print("%s %s" % (train, test))